.default-text-color {
  color: #c9c9c9;
}

.default-placeholder-color::placeholder {
  color: #c9c9c9;
}

.custom-scrollbar{
  scrollbar-width: thin;
  scrollbar-color: #c9c9c9 transparent;}

.favorite-button:hover{
  filter: drop-shadow(0 0 5px gold);
}

/* Change placeholder text color */
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6); /* Light white */
  opacity: 1; /* Ensure visibility in some browsers */
}

.open-job-link-btn:hover{
    filter: drop-shadow(0 0 5px gray);
}

